@-webkit-keyframes header-gradient {
    0%{text-shadow: 1px 1px 2px #777, 0 0 1em #fff, 0 0 0.2em #fff;}
    50%{text-shadow: 0.5px 0.5px 1px #777, 0 0 0.25em #fff, 0 0 0.05em #fff;}
    0%{text-shadow: 1px 1px 2px #777, 0 0 1em #fff, 0 0 0.2em #fff;}
}
@-moz-keyframes header-gradient {
  0%{text-shadow: 1px 1px 2px #777, 0 0 1em #fff, 0 0 0.2em #fff;}
  50%{text-shadow: 0.5px 0.5px 1px #777, 0 0 0.25em #fff, 0 0 0.05em #fff;}
  0%{text-shadow: 1px 1px 2px #777, 0 0 1em #fff, 0 0 0.2em #fff;}
}
@keyframes header-gradient { 
  0%{text-shadow: 1px 1px 2px #777, 0 0 1em #fff, 0 0 0.2em #fff;}
  50%{text-shadow: 0.5px 0.5px 1px #777, 0 0 0.25em #fff, 0 0 0.05em #fff;}
  0%{text-shadow: 1px 1px 2px #777, 0 0 1em #fff, 0 0 0.2em #fff;}
}

header {
  -webkit-animation: header-gradient 24s ease infinite;
  -moz-animation: header-gradient 24s ease infinite;
  animation: header-gradient 24s ease infinite;
  
  background: -webkit-linear-gradient(135deg, darkslategrey, lightgray);
  -webkit-backgroud-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #777, 0 0 1em #fff, 0 0 0.2em #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0.6rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 320px;
  padding: 0 1rem 1rem;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  border-radius: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label, button {
  margin-top: 1rem;
}

button {
  background-color: lightgray;
  padding: 0.5rem;
  cursor: pointer;
}

button:disabled {
  color:#bbb;
  cursor: default;
}

hr {
  width: 100%;
  margin-top: 1.5rem;
}

#background, #root {
  height: 100%;
}

.aria-hidden {
  position: absolute;
  top: -100vh;
  margin-top: 0
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.error {
  background-color: lightpink;
  border-radius: 0.5rem;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.login-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-container {
  padding-right: 1rem;
}

.menu-icon {
  color: #302a2a;
  padding: 1rem;
  margin: -1rem 0;
  cursor: pointer;
}

.menu-background {
  border: 1px solid #777;
  border-radius: 0.5rem;
  background-color: rgba(255,255,255,0.9);
  margin-right: 0.75rem;
  position: absolute;
  font-size: 1.25rem;
  right: 0;
  
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items > a {
  border-bottom: 1px solid #777;
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.menu-items > a:last-of-type {
  border: none;
}

.menu-items > a:hover {
  color: #333;
  -webkit-text-fill-color: #333;
}

.menu-items > a > li {
  margin: 1rem 0;
}

@media screen and (min-width: 600px) {
  section {
    max-width: 420px;
  }
}